<div class="container">
  <br>
  <div class="row">
    <a *ngIf="returnEvent"
        type="button"
        class="btn ml-3 btn-outline-dark rounded-pill w-auto"
        routerLink="/bands"
        (click)="toggle()">
      <span class="material-icons sm-12"> chevron_left </span>
    </a>
  </div>

  <div class="container-fluid bg-white px-3 py-3 rounded my-3" id="band-detail">
    <h1>{{bandDetail.name}}</h1>
    <hr>

    <div class="container">
      <div class="row g-0">
        <div class="col-md-3 d-flex">
          <img
            [src]="bandDetail.image"
            class="m-auto"
            alt="{{bandDetail.name+'.image'}}"
            width="200px"
          />
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <p class="card-text">
              <small class="text-muted">{{ bandDetail.creationDate | date }}</small>
              <br>
              {{ bandDetail.description }}
            </p>
          </div>
        </div>
      </div>

      <br>

    </div>
    <hr>

    <div *ngIf="bandDetail.musicians.length > 0" class="container">
      <h2 i18n>Musicians</h2>
      <div *ngFor="let musician of bandDetail.musicians">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-3 d-flex">
              <img
                [src]="musician.image"
                class="m-auto"
                alt="{{'image of '+musician.name}}"
                width="150px"
              />
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h3 class="card-title">{{ musician.name }}</h3>
                <p class="card-text">{{ musician.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div class="container">
      <h2 i18n>Albums</h2>
      <div *ngFor="let album of bandDetail.albums">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-3 d-flex">
              <img
                [src]="album.cover"
                class="m-auto"
                alt="{{'cubierta de '+album.name}}"
                width="150px"
              />
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h3 class="card-title">{{ album.name }}</h3>
                <p class="card-text">{{ album.description }}</p>
                <p class="card-text">
                  <small class="text-muted"
                    >{{ album.genre }} | {{ album.recordLabel }} |
                    {{ album.releaseDate | date }}</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="container">
      <h2 i18n>Prizes</h2>
      <div class="row">
        <span *ngFor="let performerPrize of bandDetail.performerPrizes">
          &nbsp;&#9679;&nbsp;{{ performerPrize.premiationDate | date }}
          <br>
        </span>
      </div>
    </div>
  </div>
</div>
