<div *ngIf="selected" class="container-fluid bg-light px-5">
  <app-band-detail
    [bandDetail]="selectedBand"
    (returnEvent)="unselectBand(event)"
  ></app-band-detail>
</div>

<div *ngIf="!selected" class="container-fluid bg-light px-5 py-3">
  <h1 class="container" i18n>Bands</h1>

  <div class="container bg-white px-3 py-3 rounded">
    <div style="float: right;">
      <input class="form-control" (input)="filterBands($event.target.value)" placeholder="Search" i18n-placeholder>
    </div>
    <br>
    <br>
    <div *ngFor="let band of filteredBands">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-2 d-flex">
            <img
              [src]="band.image"
              (click)="onSelectedBand(band)"
              class="m-auto"
              alt="{{band.name+'.image'}}"
              width="150px"
              style="cursor: pointer;"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h2 class="card-title" style="cursor: pointer;" (click)="onSelectedBand(band)">{{ band.name }}</h2>
              <p class="card-text">{{ band.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
