.card {
  background-color: #FFFFFF;
}

.card-title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-body p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
